h1{
    color: red;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container{
    height: 100vh;
    width: 120%;
    background-image: url("../static/Images/news1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: in;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animate{
0%{
    background-image: url("../static/Images/news1.jpg");
}
20%{
    background-image: url("../static/Images/newng1.jpg");
}
40%{
    background-image: url("../static/Images/news2.jpg");
}
60%{
    background-image: url("../static/Images/newsng.jpg");
}
}

.button{
    top: 50%;
    transform: 0, -50%;
    position: absolute;
    text-align: center;
    margin-left: 35%;
}

button[type=submit]{
    background-color: green;
    padding: 17px 27px;
    width: 50%;
    border-radius: 10px;
    color: whitesmoke;


}

h1{
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}

.head{
    top: 35%;
    transform: 0.-35%;
    position: absolute;
    margin-left: 25%;
}