.home{
    background-image: url("../static/Images/newss.jpg");
    height: 100vh;
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;

}

.para{
    top: 30%;
    transform: 0,-30%;
    position: absolute;
    margin-left: 32%;
    color: whitesmoke;
}

.para2 p{
    text-align: center;
}

.next{
    float: right;
    float: right;
    padding: 10px;
    background-color: red;
    color: black;
    border-radius: 10px;
    font-size: 25px;
}

.back{
    float: left;
    padding: 10px;
    background-color: green;
    color: black;
    border-radius: 10px;
    font-size: 25px;
}

h3{
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

.start{
    position: absolute;
    top: 130%;
    transform: 0,-130%;
    background-color: red;
}


