.home{
    background-image: url("../static/Images/newng1.jpg");
    height: 100vh;
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;

}

.para{
    top: 30%;
    transform: 0,-30%;
    position: absolute;
    margin-left: 32%;
    color: whitesmoke;
}

.para2 p{
    text-align: center;
}

.next{
    float: right;
}