<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/about.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="about">
      <div class="back"><a href="/home">Previous</a></div>
      <div class="next"><a href="/contact">Next</a></div>
      <div id="about">
        <h1>About us</h1>
        <p>
          Our Mission is to Increase public enjoyment and Understanding Of Daily
          Updates in Our Platform<br />from the 20s Century to Present Day
        </p>
      </div>
        <div class="who">
          <h2>WHO WE ARE</h2>
        </div>
        <div class="news">
          <div id="new1">
            <img src="../static/Images/blog1.jpg" width="250" height="250" alt="">
            <p>We provide a wide range of programmes,<br> content and services on <br>television, radio and online for <br>audiences across the UK</p>
          </div>
          <div id="new2">
            <img src="../static/Images/newsng.jpg" width="250" height="250" alt="">
             <p>BBC World Service television,<br> radio and online is available <br>in more than 40 languages</p>
          </div>
          <div id="new3">
            <img src="../static/Images/news1.jpg" width="250" height="250" alt="">
            <p>Our commercial operations generate<br> income to invest in new <br>programmes and content</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
