<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/home.css" />

    <title>Aljazeera News Headlines</title>
  </head>
  <body>
    <div class="home">
      <h3>Welcome Home</h3><hr>
     <div class="back"> <a href="/">Back</a></div>
     <div class="next"> <a href="/about">next</a></div>

      <div class="para">
          <p>'The Worlds leading Media News Consultancy'</p>
        <div>
      <div class="para1">
          <h1>DIGITAL TRANSFORMATION</h1>
      </div>  
      <div class="para2">
          <p>HELPING NEWS MEDIA EMBRACE THE DIGITAL AGE / NEWSPAPERS-MAGAZINES-NEWSITES-<br>
        TELEVISION-RADIO
        </p>
    </div> 
    <div class="start">
     <button type="submit" href="/alja">Views News Updates</button>
    </div>   
    </div>
  </body>
</html>
